
<script id="views/template/selectDropDown.html" type="text/ng-template">
    <div class="dropdown container-float-right">
        <a class="dropdown-toggle">
        <span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="hidden-tablet">
                {{selected.text}}
            </span>
            <b class="caret"></b>
        </span>
        </a>
        <ul class="dropdown-menu dropdown-text">
            <li ng-repeat="option in options" ng-click="select($index)">
                <span>{{option.text}}</span>
            </li>
        </ul>
    </div>
</script>
