<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

       <!--<bean id="uamFilter" class="com.snda.sysdev.security.uam.web.UamAuthenticationFilter">
              <property name="authenticationManager" ref="authenticationManager"/>
              <property name="authenticationSuccessHandler" >
                     <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
                            <property name="defaultTargetUrl" value="/" />
                            <property name="alwaysUseDefaultTargetUrl" value="true" />
                     </bean>
              </property>
              <property name="authenticationFailureHandler">
                     <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                            <property name="defaultFailureUrl" value="${uam.noRightsUrl}?appid=${uam.appCode}"/>
                     </bean>
              </property>
       </bean>

       <bean id="uamEntryPoint" class="com.snda.sysdev.security.uam.web.UamAuthenticationEntryPoint">
              <property name="loginUrl" value="${uam.loginUrl}?SubSystemCode=${uam.appCode}&amp;EntranceCode=${uam.entranceCode}" />
       </bean>

       <security:http entry-point-ref="uamEntryPoint">
              <security:logout invalidate-session="true"
                      logout-success-url="${uam.loginOutSuccessUrl}"
                      logout-url="/j_spring_security_logout"/>
              <security:form-login authentication-failure-url="${uam.noRightsUrl}?appid=${uam.appCode}"/>
              <security:intercept-url pattern="/**" access="${uam.authType}" />
              <security:custom-filter position="CAS_FILTER" ref="uamFilter"/>
       </security:http>

       <bean id="uamAuthenticationProvider" class="com.snda.sysdev.security.uam.authentication.UamAuthenticationProvider">
              <property name="authenticationUserDetailsService">
                     <bean class="com.snda.sysdev.diul.acl.UserDetailsService" />
              </property>
              <property name="ticketValidator">
                     <bean class="com.snda.sysdev.security.uam.TicketValidator">
                            <constructor-arg index="0" value="${uam.authUrl}" />
                            <constructor-arg index="1" value="${uam.appCode}" />
                     </bean>
              </property>
              <property name="key" value="unisecurity_uam_auth_provider" /> &lt;!&ndash; an id for this auth provider only &ndash;&gt;
       </bean>

       <security:authentication-manager alias="authenticationManager">
              <security:authentication-provider ref="uamAuthenticationProvider" />
       </security:authentication-manager>-->
</beans>

