<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${dataSource.driverClassName}"/>
        <property name="url" value="${dataSource.url}"/>
        <property name="username" value="${dataSource.username}"/>
        <property name="password" value="${dataSource.password}"/>
        <property name="initialSize" value="10"/>
        <!-- default 10 -->
        <property name="minIdle" value="10"/>
        <!-- default initialSize:10 -->
        <property name="maxActive" value="100"/>
        <!-- default 100 -->
        <property name="maxWait" value="15000"/>
        <!-- default 30000(ms) -->
        <property name="testOnBorrow" value="true"/>
        <!-- default false -->
        <property name="testWhileIdle" value="true"/>
        <!-- default false -->
        <property name="testOnReturn" value="false"/>
        <!-- default false -->
        <property name="validationQuery" value="SELECT 1"/>
        <!-- default null -->
        <property name="validationInterval" value="60000"/>
        <!-- default 30000(ms) -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- default 5000(ms) -->
        <property name="minEvictableIdleTimeMillis" value="60000"/>
        <!-- default 60000(ms) -->
        <property name="removeAbandoned" value="false"/>
        <!-- default false -->
        <property name="removeAbandonedTimeout" value="120"/>
        <!-- default 60(s) -->
        <property name="logAbandoned" value="true"/>
        <!-- default false -->
    </bean>
</beans>
